

.card--name {
    font-weight: bold;
}

img {
    border-radius: 30px;
  }

.card {
    border-radius: 30px;
  }

 .card-data-label{
    font-weight: bold;
    font-size: 12px;

 }

 .card-data-text{
    font-size: 12px;

 }

 

.card-data-text[_ngcontent-rrd-c16] {
    font-size: 12px;
}
p {
    margin-bottom: 0.2rem;
}


.overlay-text {

   position: absolute;
   top: 15px;
   right: 100px;
}

.image-box{
    border-radius: 500px;
    background-color: rgb(3, 2, 53);
    color: #fff;
    font-weight: bold;
}

.card-button {
    background-color: #019df4;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 0px solid transparent;
    white-space: nowrap;
    line-height: 1.42857;
    user-select: none;
    margin: 0.4em 0;
    outline: none !important;
    color: #fff;
    border-radius: 20px;
    padding: 0 14px;
    margin: 0 3px;
    width: 100%;
    height: 39px;
}

.card-button-red {
    background-color: #e21c1c;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 0px solid transparent;
    white-space: nowrap;
    line-height: 1.42857;
    user-select: none;
    margin: 0.4em 0;
    outline: none !important;
    color: #fff;
    border-radius: 20px;
    padding: 0 14px;
    margin: 0 3px;
    width: 100%;
    height: 39px;
}

.card img{
   //width: 200px;
   height: 200px;
   //margin-bottom: 15px;
   transition: 0.3s ease-in-out;
}


.card img:hover{
    cursor: pointer;
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

.selected-color{

    border: 4px solid #4969f6 !important;
}